@media only screen and (max-width: 800px) {
  .bot {
    flex-direction: column;
  }

  .bot .card {
    width: 100%;
  }

  .services-info-img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .mid {
    display: flex;
    flex-direction: column;
  }

  section.mid div.card:nth-child(n) {
    width: 100%;
  }
}
