/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

button {
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  padding: 5px 41px;
  font-size: 19px;
}
